.usersList {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  margin-top: 12px;
  margin-left: 12px;

  .notification {
    display: inline-block;
    width: 10px;
    height: 10px;
    bottom: 10px;
    position: relative;
    background-color: white;
    border-radius: 50%;
  }

  .general {
    opacity: 0;
    transform: translateX(-100px);
  }
}
